# Auto detect text files and perform LF normalization
* text=auto
A:/All-About-Data-Analysis/Zomato[[:space:]]Analysis[[:space:]]Dashboard[[:space:]]using[[:space:]]powerBI/Zomato_restaurants_in_india.csv filter=lfs diff=lfs merge=lfs -text
